@page "/consensus"
@inherits ConsensusBase

@if (Quarter is not null && Enumerable.Count > 0)
{
	<Virtualize Items="Enumerable" Context="kv" OverscanCount="9">
		<div class="" id="@kv.Key">
			<p>
				@if (kv.Value.Consensus is not null)
				{
					<fieldset class="flex-container" id="@(Index = kv.Key)">
						<legend class="legend">
							@{
								var consensus = kv.Value.Consensus.First();

								<span name="@consensus.Date">
									<strong><b>@consensus.Date</b></strong>
								</span>
								<span name="@consensus.Code">
									<small><i>@consensus.Code</i></small>
								</span>
							}
						</legend>
						<div class="sub" @onclick="(e => OnClick(kv.Key, 'C', e))">
							<strong><i>Consensus</i></strong>
						</div>
						@if (kv.Value.RenderingConsensus)
						{
							<table class="table">
								<thead>
									<tr class="">
										<th scope="col" title="매출ㆍ영업이익ㆍ순이익ㆍ현금흐름 ( ● : Use)" style="color: gainsboro">
											<div>
												<small><i>Original</i></small>
											</div>
										</th>
										<th scope="col"><div>@Quarter[0]</div></th>
										<th scope="col"><div>@Quarter[1]</div></th>
										<th scope="col"><div>@Quarter[2]</div></th>
										<th scope="col"><div>@Quarter[3]</div></th>
										<th scope="col"><div>@Quarter[4]</div></th>
										<th scope="col"><div>@Quarter[5]</div></th>
									</tr>
								</thead>

								@foreach (var param in kv.Value.Consensus)
								{
									<tbody>
										<tr>
											<th scope="row">
												<div>@param.Strategics.Replace("T", "●").Replace("F", "·")</div>
											</th>
											@{
												var convert = ConvertFormat(param.FirstQuarter);
												<td style="color: @convert.Item2">@convert.Item1</td>
												convert = ConvertFormat(param.SecondQuarter);
												<td style="color: @convert.Item2">@convert.Item1</td>
												convert = ConvertFormat(param.ThirdQuarter);
												<td style="color: @convert.Item2">@convert.Item1</td>
												convert = ConvertFormat(param.Quarter);
												<td style="color: @convert.Item2">@convert.Item1</td>
												convert = ConvertFormat(param.TheNextYear);
												<td style="color: @convert.Item2">@convert.Item1</td>
												convert = ConvertFormat(param.TheYearAfterNext);
												<td style="color: @convert.Item2">@convert.Item1</td>
											}
										</tr>
									</tbody>
								}
							</table>
						}
						else
						{
							<br />
						}
						@if (kv.Value.RenderingStrategics)
						{
							<fieldset class="flex-container">
								<legend class="legend">
									<span class="sub" @onclick="(e => OnClick(kv.Key, 'S', e))">
										<small><b><i>Strategics</i></b></small>
									</span>
								</legend>
								<ul>
									@{
										<li>
											<div class="strategics">
												<input type="radio" class="strategics_radio" @onclick="(e => OnClick(kv.Key, 'A', e))" checked="@(kv.Value.SelectStrategics is 'A')" />
												<b><i>According to Trends</i></b>
											</div>
											@if (kv.Value.SelectStrategics is 'A')
											{
												<table class="table">
													<thead>
														<tr>
															<th scope="col" class="strategics_title" title="Exponential Moving Average">
																<div><small>EMA</small></div>
															</th>
															<th scope="col" class="strategics_table">
																<div style="padding-right: 5px; color: maroon">Leading­Line</div>
															</th>
															<th scope="col" class="strategics_table">
																<div style="padding-right: 5px; color: navy">Lagging­Line</div>
															</th>
															<th scope="col" class="strategics_table">
																<div style="padding-right: 5px; color: maroon">Leading­Trend</div>
															</th>
															<th scope="col" class="strategics_table">
																<div style="padding-right: 5px; color: navy">Lagging­Trend</div>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th scope="row" class="strategics_table"><div>Day</div></th>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('D', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('D', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('D', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('D', null)</small></span>
															</td>
														</tr>
													</tbody>
													<thead>
														<tr>
															<th scope="col" class="strategics_title" title="장중ㆍ동시호가（일 3회）">
																<div><small>Term</small></div>
															</th>
															<th class="strategics_table" colspan="2" scope="col">
																<div style="display: inline-block; color: maroon">In Gains</div>
																<div style="display: inline-block">／</div>
																<div style="display: inline-block; color: navy">Scale Trading</div>
																<div style="display: inline-block">（％）</div>
															</th>
															<th class="strategics_table" scope="col"><div>Quantity（주）</div></th>
															<th class="strategics_table" scope="col"><div>Unit（Tick）</div></th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th rowspan="2" scope="row" class="strategics_table">
																<div>Appoint</div>
															</th>
															<td class="strategics_table">
																<div style="color: navy"><b>Sell</b></div>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('%', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('S', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('T', null)</small></span>
															</td>
														</tr>
														<tr>
															<td class="strategics_table">
																<div style="color: maroon"><b>Buy</b></div>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('%', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('S', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('T', null)</small></span>
															</td>
														</tr>
													</tbody>

													<thead>
														<tr>
															<th scope="col" class="strategics_title" title="매매방식（도움말 참조）">
																<div><small>Expression</small></div>
															</th>
															<th class="strategics_table" colspan="2" scope="col"><div>（￦）</div></th>
															<th class="strategics_table" scope="col"><div>Quantity（주）</div></th>
															<th class="strategics_table" scope="col"><div>Interval（㎳）</div></th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th rowspan="2" scope="row" class="strategics_table">
																<div>Trading</div>
															</th>
															<td class="strategics_table">
																<div style="color: navy"><b>Sell</b></div>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('%', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('S', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('M', null)</small></span>
															</td>
														</tr>
														<tr>
															<td class="strategics_table">
																<div style="color: maroon"><b>Buy</b></div>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('%', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('S', null)</small></span>
															</td>
															<td class="strategics_table">
																<span class="strategics_cell"><small>@ConvertFormat('M', null)</small></span>
															</td>
														</tr>
													</tbody>
												</table>
											}
											else
											{
												<br />
											}
										</li>
									}
								</ul>
							</fieldset>
						}
						else
						{
							<div class="sub" @onclick="(e => OnClick(kv.Key, 'S', e))">
								<strong><i>Strategics</i></strong>
							</div>
						}
					</fieldset>
				}
				<br />
			</p>
		</div>
	</Virtualize>

	<div class="search">
		<input class="search_input" type="text" @onchange="OnReceiveKeyPress" placeholder="Search for the Stocks." autocomplete="on">
	</div>
}
else
{
	<p>
		<em>Loading...</em>
	</p>
}