@page "/"
@inherits IndexBase

@if (Information is UserInformation[])
{
	<div>
		@if (string.IsNullOrEmpty(Caution) is false)
		{
			<div class="caution">@Caution</div>
			<br />
		}
		<span class="user_span">
			Enter the ID to connect with OpenAPI
			<input class="user_input" maxlength="8" placeholder="키움증권 ID" required @bind="Kiwoom" autocomplete="on" />
		</span>
		<br />
		<span class="user_span">
			Enter your Name linked to the Account
			<input class="user_input" maxlength="8" placeholder="계좌명" required @bind="Name" autocomplete="on" />
		</span>
	</div>
	<div class="button_style">
		<button class="button_style_append" @onclick="e => Send(Kiwoom, Name, e)" disabled="@IsClicked">Append</button>
		<button class="button_style_save" @onclick="e=> Send(Stock, Futures, e)" disabled="@(IsClicked is false)">Save</button>
	</div>
	<div class="form-group">
		@if (Information.Length > 0)
		{
			<br />

			foreach (var info in Information)
			{
				<form>
					<p>
						<div class="sub">
							<strong><i>@(string.IsNullOrEmpty(info.Name) ? "It is not possible to check the current Connection." : info.Name)</i></strong>
						</div>

						@if (info.Account.Any(acc => acc.Length == 0xA && acc[^2..].CompareTo("31") < 0))
						{
							<fieldset class="flex-container">
								<legend class="legend"><strong>Choose the Stock Account</strong></legend>
								<ul>
									@foreach (var str in info.Account)
									{
										if (str.Length == 0xA && str[^2..].CompareTo("31") < 0)
										{
											<li>
												<label for="stocks">
													<input type="radio" id="stocks" name="stocks" value="@str" @onchange="OnReceiveTheSelectedButton" checked="@str.Equals(Stock)">
													@ConvertFormat(str)
												</label>
											</li>
										}
									}
								</ul>
							</fieldset>
						}
						@if (info.Account.Any(acc => acc.Length == 0xA && acc[^2..].CompareTo("31") == 0))
						{
							<br />
							<fieldset class="flex-container">
								<legend class="legend"><strong>Choose the Futures Account</strong></legend>
								<ul>
									@foreach (var str in info.Account)
									{
										if (str.Length == 0xA && str[^2..].CompareTo("31") == 0)
										{
											<li>
												<label for="futures">
													<input type="radio" id="futures" name="futures" value="@str" @onchange="OnReceiveTheSelectedButton" checked="@str.Equals(Futures)">
													@ConvertFormat(str)
												</label>
											</li>
										}
									}
								</ul>
							</fieldset>
						}
					</p>
					<br />
				</form>
			}
		}
	</div>
}
else
{
	<p><em>The Account don’t Exist...</em></p>
	<p><em>Connect the OpenAPI</em></p>
	<p><em>Load the Account Information.</em></p>
}