@page "/portfolio"
@inherits PortfolioBase

@if (Codes is Catalog.Models.Codes[] && string.IsNullOrEmpty(Complete) is false)
{
	if (Information is UserInformation[])
		foreach (var user in Information.OrderBy(o => o.Account[0]))
		{
			if (string.IsNullOrEmpty(user.Check) is false)
			{
				var account = user.Check.Split(';')[0];

				<fieldset class="flex-container">
					<legend class="legend">
						<span class="sub">@Base.ConvertFormat(account)</span>
						<input type="text" class="codes" name="codes" list="codes-list" placeholder="Please enter the code." @onchange="e => OnReceiveTheChoiceItem(e, account)" required />
						<input type="text" class="strategics" name="strategics" list="strategics-list" placeholder="Please enter the strategics." @onchange="e => OnReceiveTheChoiceItem(account, e)" required />
					</legend>

					@if (Bring is BringIn[] && Bring.Length > 0 && Array.Exists(Bring, o => o.Methods.Equals(user.Key)))
					{
						<TableTemplate Items="Bring.Where(o => o.Methods.Equals(user.Key)).OrderBy(o => o.Date).ToArray()">
							<TableHeader>
								<th scope="col">Code</th>
								<th scope="col">Name</th>
								<th scope="col">Strategics</th>
								<th scope="col">Modified Date</th>
								<th scope="col">Theme</th>
								<th scope="col">Exposure</th>
								<th scope="col">Remove</th>
							</TableHeader>
							<RowTemplate Context="e">
								<td scope="row">@e.Code</td>
								<th>@Codes.FirstOrDefault(o => o.Code.Equals(e.Code)).Name</th>
								<td>@(int.TryParse(e.Strategics, out int number) ? Enum.GetName(typeof(Interface.Strategics), number).Replace("_", " ") : string.Empty)</td>
								<td>@(new DateTime(e.Date))</td>
								<th>@e.Theme</th>
								<td>@(e.Contents.Length > 9 ? string.Empty : e.Contents)</td>
								<td class="button_remove"><button class="button_remove_style" @onclick="(o => RequestTheDeletionOfHoldings(string.Concat(e.Methods, ';', e.Code), o))">apply</button></td>
							</RowTemplate>
						</TableTemplate>
					}
					@if (ChosenStrategics.TryGetValue(account, out string value) && Enum.TryParse(value, out Interface.Strategics name) && ChosenCodes.TryGetValue(account, out string code) && Codes.Any(o => o.Code.Equals(code)))
					{
						var retrieve = RetrieveRecordedInformation(name, account, code);

						<table class="table">
							@switch (name)
							{
								case Interface.Strategics.Rotation:
									<thead>
										<tr name="@((int)name)">
											<th scope="col">
												<div class="context rotation_name">@Enum.GetName(typeof(Interface.Strategics), name).Replace("_", " ")</div>
											</th>
											<th scope="col">
												<div class="title rotation_name" title="매수가격범위">Price per Share</div>
											</th>
											<th scope="col">
												<div class="title rotation_name" title="Price per Share 상단에서 목표수익률 도달시 3차례에 걸쳐 수익실현">Revenue</div>
											</th>
											<th scope="col">
												<div class="title rotation_name" title="Price per Share 하단에서 일정비율이상으로 하락시 3차례에 걸쳐 손절">Stop Loss</div>
											</th>
											<th scope="col">
												<div class="title rotation_name" title="최대보유기간">Liquidation</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row" title="@(string.IsNullOrEmpty((retrieve as Tuple<string, string[], string, string[]>)?.Item1) ? "Data doesn′t Exist." : (retrieve as Tuple<string, string[], string, string[]>).Item1)">
												<div class="sub_context rotation_name">@Codes.First(o => o.Code.Equals(code)).Name</div>
											</th>
											<td>
												<span class="rotation_name">
													<input class="scenario_input rotation_input_division" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item2[0])" type="text" required onchange="number(this)" onkeyup="number(this)" id="@account.Insert(8, ((char)name).ToString())" />
													<small>∼</small>
													<input class="scenario_input rotation_input_division" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item2[1])" type="text" required onchange="number(this)" onkeyup="number(this)" id="@account.Insert(9, ((char)name).ToString())" />
													<small>won</small>
												</span>
											</td>
											<td>
												<span class="rotation_name">
													<small class="rotation_context">①</small>
													<input class="scenario_input rotation_input_number" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item4[0])" type="number" step="0.25" min="0.25" max="999" required id="@account.Insert(1, ((char)name).ToString())" />
													<small>％</small>
												</span>
											</td>
											<td>
												<span class="rotation_name">
													<small class="rotation_context">①</small>
													<input class="scenario_input rotation_input_number" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item4[3])" type="number" step="0.25" min="0.25" max="999" required id="@account.Insert(4, ((char)name).ToString())" />
													<small>％</small>
												</span>
											</td>
											<td rowspan="3">
												<span>
													<input type="date" required autocomplete="on" id="@account.Insert(7, ((char)name).ToString())" value="@((retrieve as Tuple<string, string[], string, string[]>)?.Item3)" />
												</span>
											</td>
										</tr>
										<tr>
											<td scope="row">
												<div class="sub_context rotation_name" title="일최대매수금액">Maximum per Day</div>
											</td>
											<td>
												<span class="rotation_name">
													<input class="scenario_input rotation_input_text" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item2[2])" type="text" required onchange="number(this)" onkeyup="number(this)" id="@string.Concat((char)name, account)" />
													<small>won</small>
												</span>
											</td>
											<td>
												<span class="rotation_name">
													<small class="rotation_context">②</small>
													<input class="scenario_input rotation_input_number" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item4[1])" type="number" step="0.25" min="0.25" max="999" required id="@account.Insert(2, ((char)name).ToString())" />
													<small>％</small>
												</span>
											</td>
											<td>
												<span class="rotation_name">
													<small class="rotation_context">②</small>
													<input class="scenario_input rotation_input_number" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item4[4])" type="number" step="0.25" min="0.25" max="999" required id="@account.Insert(5, ((char)name).ToString())" />
													<small>％</small>
												</span>
											</td>
										</tr>
										<tr>
											<td scope="row">
												<div class="sub_context rotation_name" title="최대매수금액">Accumulate</div>
											</td>
											<td>
												<span class="rotation_name">
													<input class="scenario_input rotation_input_text" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item2[^1])" type="text" required onchange="number(this)" onkeyup="number(this)" id="@string.Concat(account, (char)name)" />
													<small>won</small>
												</span>
											</td>
											<td>
												<span class="rotation_name">
													<small class="rotation_context">③</small>
													<input class="scenario_input rotation_input_number" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item4[2])" type="number" step="0.25" min="0.25" max="999" required id="@account.Insert(3, ((char)name).ToString())" />
													<small>％</small>
												</span>
											</td>
											<td>
												<span class="rotation_name">
													<small class="rotation_context">③</small>
													<input class="scenario_input rotation_input_number" placeholder="@((retrieve as Tuple<string, string[], string, string[]>)?.Item4[^1])" type="number" step="0.25" min="0.25" max="999" required id="@account.Insert(6, ((char)name).ToString())" />
													<small>％</small>
												</span>
											</td>
										</tr>
									</tbody>
									break;

								case Interface.Strategics.Long_Position:
									<thead>
										<tr name="@((int)name)">
											<th scope="col" title="매도ㆍ매수 ( ￦ : Unit )">
												<div class="context">@Enum.GetName(typeof(Interface.Strategics), name).Replace("_", " ")</div>
											</th>
											<th scope="col"><div class="title" title="If the yield is higher than the target, place a Sell order.">Underweight</div></th>
											<th scope="col"><div class="title" title="If the holding amount is less than the set amount, place an order to Buy.">Overweight</div></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row" title="@(string.IsNullOrEmpty((retrieve as Tuple<string, string, string>)?.Item3) ? "Data doesn′t Exist." : (retrieve as Tuple<string, string, string>).Item3)">
												<div class="sub_context">@Codes.First(o => o.Code.Equals(code)).Name</div>
											</th>
											<td>
												<span>
													<input class="strategics_input" type="number" placeholder="@((retrieve as Tuple<string, string, string>)?.Item1)" max="999" min="-100" step="0.5" required id="@string.Concat((int)name, account)" />
													<small> ％</small>
												</span>
											</td>
											<td>
												<span>
													<input class="strategics_input" type="text" placeholder="@((retrieve as Tuple<string, string, string>)?.Item2)" required onchange="number(this)" onkeyup="number(this)" id="@string.Concat(account, (int)name)" />
													<small> won</small>
												</span>
											</td>
										</tr>
									</tbody>
									break;

								case Interface.Strategics.Scenario:
								case Interface.Strategics.HFT_Scenario:
									<thead>
										<tr name="@((int)name)">
											<th scope="col" title="@(name is Interface.Strategics.HFT_Scenario ? "In the Scenario,\ndouble the number of purchases to make some of them High-Frequency-Trading." : "매도ㆍ매수 ( 日 : Unit )")">
												<div class="context">@Enum.GetName(typeof(Interface.Strategics), name)</div>
											</th>
											<th>
												<div class="title" title="for a few days">Sell／Buy</div>
											</th>
											<th>
												<div class="title" title="buy up to">Accumulate</div>
											</th>
											<th>
												<div class="title" title="for less than">Price per Share</div>
											</th>
											<th>
												<div class="title" title="sell in divisions when">Outperform</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row" title="@(string.IsNullOrEmpty((retrieve as Tuple<int, int, string, string, string, string>)?.Item6) ? "Data doesn′t Exist." : (retrieve as Tuple<int, int, string, string, string, string>).Item6)">
												<div class="sub_context">@Codes.First(o => o.Code.Equals(code)).Name</div>
											</th>
											<td>
												<span>
													<input class="scenario_input scenario_input_division" type="number" placeholder="@((retrieve as Tuple<int, int, string, string, string, string>)?.Item1)" step="1" min="1" max="999" id="@account.Insert(1, ((int)name).ToString("D2"))" required />
													<small>／</small>
													<input class="scenario_input scenario_input_division" type="number" placeholder="@((retrieve as Tuple<int, int, string, string, string, string>)?.Item2)" step="1" min="1" max="999" id="@account.Insert(3, ((int)name).ToString("D2"))" required />
												</span>
											</td>
											<td>
												<span>
													<input class="scenario_input scenario_input_single" type="text" placeholder="@((retrieve as Tuple<int, int, string, string, string, string>)?.Item3)" id="@string.Concat((int)name, account)" required onchange="number(this)" onkeyup="number(this)" />
													<small> won</small>
												</span>
											</td>
											<td>
												<span>
													<input class="scenario_input scenario_input_single" type="text" placeholder="@((retrieve as Tuple<int, int, string, string, string, string>)?.Item4)" id="@string.Concat(account, (int)name)" required onchange="number(this)" onkeyup="number(this)" />
													<small> won</small>
												</span>
											</td>
											<td>
												<span>
													<input class="scenario_input scenario_input_single" type="number" placeholder="@((retrieve as Tuple<int, int, string, string, string, string>)?.Item5)" step="0.25" min="0.25" max="999" id="@account.Insert(5, ((int)name).ToString("D2"))" required />
													<small> ％</small>
												</span>
											</td>
										</tr>
									</tbody>
									break;
							}
						</table>
						<div class="button_style">
							<button class="button_style_verify" @onclick="e => RequestVerification(account, e)" disabled="@(IsClicked.ContainsKey(account) is false)">Verify</button>
							<button class="button_style_save" @onclick="e => RequestSave((int)name, account, e)" disabled="@IsClicked.ContainsKey(account)">@Complete</button>
						</div>
					}
				</fieldset>
			}
			<br />
		}
	<datalist id="strategics-list">
		@foreach (var st in Enum.GetValues(typeof(Interface.Strategics)))
			if (st.ToString().Length > 2)
			{
				<option value="@((int)st)">@st.ToString().Replace("_", " ")</option>
			}
	</datalist>
	<datalist id="codes-list">
		@foreach (var co in Codes.OrderBy(o => o.Name))
		{
			<option value="@co.Code">@co.Name</option>
		}
	</datalist>
}
else
{
	<p>
		<em>Loading...</em>
	</p>
}